ul li a {
    font-weight: 600;
  }
  footer .content {
    padding-top: 10px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
  }
  footer p{
   text-align: center;
   margin-top: 20px;
  font-weight: 600;
  margin-bottom: 0;
  }
  label{
    font-weight: 600;
  }
  .title{
      text-align: center;
      font-weight: 600;
  }
  header nav ul li a{
    color: green;
  }
.nav-item a.active{
  border-bottom: 2px white solid;
}
.nav-item a{
  margin: 0 20px;
}
a {
  color: white;
  text-decoration: unset;
}